# Creating, reading, and writing

In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [6]:
fruits = pd.DataFrame({'Apples': [30, 20], 'Bananas': [21, 2]})

# Summary functions and maps

In [11]:
import pandas as pd
pd.set_option("display.max_rows", 5)
reviews = pd.read_csv("data/winemag-data-130k-v2.csv", index_col=0)

In [12]:
median_points = reviews['points'].median()
print(median_points)

88.0

In [13]:
countries = reviews['country'].unique()
print(countries)

['Italy' 'Portugal' 'US' 'Spain' 'France' 'Germany' 'Argentina' 'Chile'
 'Australia' 'Austria' 'South Africa' 'New Zealand' 'Israel' 'Hungary'
 'Greece' 'Romania' 'Mexico' 'Canada' nan 'Turkey' 'Czech Republic'
 'Slovenia' 'Luxembourg' 'Croatia' 'Georgia' 'Uruguay' 'England' 'Lebanon'
 'Serbia' 'Brazil' 'Moldova' 'Morocco' 'Peru' 'India' 'Bulgaria' 'Cyprus'
 'Armenia' 'Switzerland' 'Bosnia and Herzegovina' 'Ukraine' 'Slovakia'
 'Macedonia' 'China' 'Egypt']

In [14]:
reviews_per_country = reviews['country'].value_counts()
print(reviews_per_country)

US          54504
France      22093
            ...
Slovakia        1
China           1
Name: country, Length: 43, dtype: int64

In [15]:
centered_price = reviews['price'] - reviews['price'].mean()
print(centered_price)

0               NaN
1        -20.363389
            ...
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64

In [16]:
bargain_idx = (reviews.points / reviews.price).idxmax()
bargain_wine = reviews.loc[bargain_idx, 'title']
print(bargain_wine)

Bandit NV Merlot (California)

In [17]:
n_trop = reviews.description.map(lambda desc: "tropical" in desc).sum()
n_fruity = reviews.description.map(lambda desc: "fruity" in desc).sum()
descriptor_counts = pd.Series([n_trop, n_fruity], index=['tropical', 'fruity'])
print(descriptor_counts)

tropical    3607
fruity      9090
dtype: int64

In [18]:
def stars(row):
    if row.country == 'Canada':
        return 3
    elif row.points >= 95:
        return 3
    elif row.points >= 85:
        return 2
    else:
        return 1
star_ratings = reviews.apply(stars, axis='columns')
print(star_ratings)

0         2
1         2
         ..
129969    2
129970    2
Length: 129971, dtype: int64

# Grouping and Sorting

In [19]:
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [21]:
reviews_written = reviews.groupby('taster_twitter_handle').size()
print(reviews_written)

taster_twitter_handle
@AnneInVino        3685
@JoeCz             5147
                   ...
@winewchristina       6
@worldwineguys     1005
Length: 15, dtype: int64

In [23]:
best_rating_per_price = reviews.groupby('price').points.max()
print(best_rating_per_price)

price
4.0       86
5.0       87
          ..
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

In [34]:
price_extremes = reviews.groupby('variety')['price'].agg([min, max])
print(price_extremes)

              min   max
variety
Abouriou     15.0  75.0
Agiorgitiko  10.0  66.0
...           ...   ...
Çalkarası    19.0  19.0
Žilavka      15.0  15.0

[707 rows x 2 columns]

In [37]:
sorted_varieties = price_extremes.sort_values(by=['min', 'max'], ascending=False)
print(sorted_varieties)

             min    max
variety
Ramisco    495.0  495.0
Terrantez  236.0  236.0
...          ...    ...
Vital        NaN    NaN
Zelen        NaN    NaN

[707 rows x 2 columns]

In [39]:
reviewer_mean_ratings = reviews.groupby('taster_name')['points'].mean()
print(reviewer_mean_ratings)

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
                        ...
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, Length: 19, dtype: float64

In [40]:
country_variety_counts = reviews.groupby(['country', 'variety']).size().sort_values(ascending=False)
print(country_variety_counts)

country    variety
US         Pinot Noir            9885
           Cabernet Sauvignon    7315
                                 ...
Italy      Moscato di Noto          1
Argentina  Barbera                  1
Length: 1612, dtype: int64

# Data types and Missing values

In [41]:
dtype = reviews['points'].dtype
print(dtype)

int64

In [43]:
point_strings = reviews.points.astype('str')
print(point_strings.dtype)

object

In [45]:
n_missing_prices = pd.isnull(reviews.price).sum()
print(n_missing_prices)

8996

In [46]:
reviews_per_region = reviews.region_1.fillna('Unknown').value_counts().sort_values(ascending=False)
print(reviews_per_region)

Unknown                   21247
Napa Valley                4480
                          ...
Moscato di Pantelleria        1
Sardon de Duero               1
Name: region_1, Length: 1230, dtype: int64

# renaming and combining

In [47]:
renamed = reviews.rename(columns={'region_1': 'region', 'region_2': 'locale'})
print(renamed)

         country                                        description  \
0          Italy  Aromas include tropical fruit, broom, brimston...
1       Portugal  This is ripe and fruity, a wine that is smooth...
...          ...                                                ...
129969    France  A dry style of Pinot Gris, this is crisp with ...
129970    France  Big, rich and off-dry, this is powered by inte...

                          designation  points  price           province  \
0                        Vulkà Bianco      87    NaN  Sicily & Sardinia
1                            Avidagos      87   15.0              Douro
...                               ...     ...    ...                ...
129969                            NaN      90   32.0             Alsace
129970  Lieu-dit Harth Cuvée Caroline      90   21.0             Alsace

        region locale    taster_name taster_twitter_handle  \
0         Etna    NaN  Kerin O’Keefe          @kerinokeefe
1          NaN    NaN     Roger Voss            @vossroger
...        ...    ...            ...                   ...
129969  Alsace    NaN     Roger Voss            @vossroger
129970  Alsace    NaN     Roger Voss            @vossroger

                                                    title         variety  \
0                       Nicosia 2013 Vulkà Bianco  (Etna)     White Blend
1           Quinta dos Avidagos 2011 Avidagos Red (Douro)  Portuguese Red
...                                                   ...             ...
129969      Domaine Marcel Deiss 2012 Pinot Gris (Alsace)      Pinot Gris
129970  Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...  Gewürztraminer

                      winery
0                    Nicosia
1        Quinta dos Avidagos
...                      ...
129969  Domaine Marcel Deiss
129970      Domaine Schoffit

[129971 rows x 13 columns]

In [48]:
reindexed = reviews.rename(columns={'index': 'wines'})
print(reindexed)

         country                                        description  \
0          Italy  Aromas include tropical fruit, broom, brimston...
1       Portugal  This is ripe and fruity, a wine that is smooth...
...          ...                                                ...
129969    France  A dry style of Pinot Gris, this is crisp with ...
129970    France  Big, rich and off-dry, this is powered by inte...

                          designation  points  price           province  \
0                        Vulkà Bianco      87    NaN  Sicily & Sardinia
1                            Avidagos      87   15.0              Douro
...                               ...     ...    ...                ...
129969                            NaN      90   32.0             Alsace
129970  Lieu-dit Harth Cuvée Caroline      90   21.0             Alsace

       region_1 region_2    taster_name taster_twitter_handle  \
0          Etna      NaN  Kerin O’Keefe          @kerinokeefe
1           NaN      NaN     Roger Voss            @vossroger
...         ...      ...            ...                   ...
129969   Alsace      NaN     Roger Voss            @vossroger
129970   Alsace      NaN     Roger Voss            @vossroger

                                                    title         variety  \
0                       Nicosia 2013 Vulkà Bianco  (Etna)     White Blend
1           Quinta dos Avidagos 2011 Avidagos Red (Douro)  Portuguese Red
...                                                   ...             ...
129969      Domaine Marcel Deiss 2012 Pinot Gris (Alsace)      Pinot Gris
129970  Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...  Gewürztraminer

                      winery
0                    Nicosia
1        Quinta dos Avidagos
...                      ...
129969  Domaine Marcel Deiss
129970      Domaine Schoffit

[129971 rows x 13 columns]